@{
    ViewBag.Title = "Şifre Değiştir  - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Şifremi Değiştir</h5>
            </div>
            <div class="card-body">
                <form id="form">
                    <div class="modal-body">
                        <input type="text" id="ID" hidden="" value="@Session["userId"]" class="form-control">
                        <div class="form-group">
                            <label>Kullanıcı Adınız</label>
                            <input type="text" id="Username" value="@Session["userName"]" class="form-control" disabled="">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Mevcut Şifreniz:</label>
                                <input type="password" id="oldPassword" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Yeni Şifreniz:</label>
                                <input type="password" id="newPassword" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Yeni Şifre Tekrar:</label>
                                <input type="password" id="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Kaydet <i class="icon-database-check ml-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("form").submit(function (e) {
                e.preventDefault();
                var isValidate = false;

                function formKontrol() {
                    if ($('#oldPassword').val().length <= 0) {
                        $("#oldPassword").attr("placeholder", "Zorunlu Alan (*)").focus();
                        isValidate = false;
                    } else if ($('#newPassword').val().length <= 0) {
                        $("#newPassword").attr("placeholder", "Zorunlu Alan (*)").focus();
                        isValidate = false;
                    } else if ($('#password').val().length <= 0) {
                        $("#password").attr("placeholder", "Zorunlu Alan (*)").focus();
                        isValidate = false;
                    } else if ($("#newPassword").val() !== $("#password").val()) {
                        $.iziToast.Info("Yeni girdiğiniz şifreler eşleşmiyor.");
                    } else
                        isValidate = true;
                };
                formKontrol();
                if (isValidate === true) {
                    var data = new Object();
                    if ($('#ID').val().length >= 1) {
                        data.ID = $('#ID').val();
                    }
                    data.Username = $("#username").val();
                    data.Password = $("#password").val();
                    var oldPassword = $('#oldPassword').val();
                    $.ajax({
                        type: "POST",
                        url: "/user/changepassword",
                        data: JSON.stringify({us: data, oldPassword: oldPassword}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response === "Success") {
                                $.iziToast.Success();
                                $("#form")[0].reset();
                            } else if (response === "Update") {
                                $.iziToast.Success();
                                $("#form")[0].reset();
                                $.iziToast.Info("Çıkış yapıp, yeni şifrenizle giriş yapabilirsiniz.");
                            } else if (response === "NoChanges") {
                                $.iziToast.Info("Herhangi bir değişiklik yapılmadı.");
                            } else if (response === "Incorrect") {
                                $.iziToast.Info("Mevcut şifrenizi hatalı girdiniz. Tekrar deneyiniz.");
                            } else {
                                $.iziToast.Warning();
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }


            });
        });
    </script>
}