
@{
    ViewBag.Title = "Sınıf Listesi - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td.details-control {
        background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
</style>
<div class="row" ng-app="">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Sınıflar ve Öğrenciler</h5>
            </div>

            <table id="examples" class="table table-bordered table-hover datatable-highlight dataTable no-footer" style="width: 100%"></table>



        </div>



    </div>

</div>

@section scripts{

    @if (Session["roleName"].ToString() == "Admin")
    {
        <script>
            var dataurl;
            dataurl = "/json/class/";
        </script>
    }
    else
    {
        <script>
            dataurl = "/json/class/" + @Session["userId"];
        </script>
    }
    <script>

        $(document).ready(function () {
            $.select2Ajax.VeriCek("#TeacherID", "/json/select2/teachers");


            var tableHTML = '';
            function format(d) {
                if (d.Students.length !== 0) {
                    tableHTML =
                        '<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">' +
                        '<td colspan="8"><b><i class="icon-books"></i> Öğrenciler ' +
                        '</b></td>' +
                        '<tr>' +
                        '<th>' +
                        'Resim' +
                        '</th>' +
                        '<th>' +
                        'TC Kimlik Numarası' +
                        '</th>' + '<th>' +
                        'Öğrenci' +
                        '</th>' + '<th>' +
                        'Öğrenci Numarası' +
                        '</th>' + '<th>' +
                        'Doğum Tarihi' +
                        '</th>' +
                        '</tr>';
                    for (var i = 0; i < d.Students.length; i++) {

                        tableHTML +=
                            '<tr>' +
                            '<td><img src="/Uploads/' +
                            d.Students[i].Image +
                            '" class="rounded-circle" width="40" height="40"> </td>' +
                            '<td>' +
                            d.Students[i].TCNumber +
                            '</td>' +
                            '<td>' +
                            d.Students[i].FullName +
                            '</td>' +
                            '<td>' +
                            d.Students[i].StudentNumber +
                            '</td>' +
                            '<td>' +
                            new Date(parseInt(d.Students[i].Birthday.substr(6))).format("dd/mm/yyyy") +
                            '</td>' +
                            '</tr>';
                    }
                    tableHTML += '</table>';
                } else {
                    tableHTML = "Öğrenci eklenmemiştir.";
                }

                return tableHTML;
            }

            var table = $('#examples').DataTable({
                "ajax": {
                    "url": dataurl,
                    "type": "GET",
                    "datatype": "json"
                },
                "paging": false,
                "columns": [
                    {
                        "title": "#",
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { "width": "2%", "title": "#ID", "data": "ID" },
                    { "title": "Sınıf Adı", "data": "ClassName", "autoWidth": true },
                    { "title": "Sınıf Öğretmeni", "data": "Teacher", "autoWidth": true },
                    { "title": "Sınıf Dersleri", "data": "Lessons[,].LessonName", "autoWidth": true },
                    {
                        "title": "Seçenekler",
                        "data": "ID",
                        "width": "5%",
                        "searchable": true,
                        "sortable": true,
                        "processing": true,
                        "serverSide": true,
                        "render": function (data, type, full, meta) {
                            return '<div class="list-icons">' +
                                '										<div class="dropdown">' +
                                '											<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">' +
                                '												<i class="icon-menu9"></i>' +
                                '											</a>' +
                                '' +
                                '											<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-158px, 19px, 0px); top: 0px; left: 0px; will-change: transform;">' +
                                '												<a href="#" data-id=' +
                                data +
                                ' class="update-link dropdown-item"><i class="icon-pen6"></i> Düzenle</a>' +
                                '												<a href="#" data-id=' +
                                data +
                                ' class="delete-link dropdown-item"><i class="icon-trash"></i> Sil</a>' +
                                '											</div>' +
                                '										</div>' +
                                '									</div>';
                        }
                    }
                ],
                autoWidth: false,
                dom:
                    '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
                "order":
                    [[1, "desc"]],
                "language":
                {
                    "url":
                        "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });


            $('#examples tbody').on('click',
                'td.details-control',
                function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                });

        });
    </script>

}


