<!-- Content area -->
<div class="d-md-flex align-items-md-start">

    <!-- Left sidebar component -->
   
    <!-- /left sidebar component -->
    <!-- Right content -->
    <div class="tab-content w-100 overflow-auto">
        <div class="tab-pane fade active show" id="profile">
            
            <!-- Basic card -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Hoşgeldiniz, @Session["userName"] </h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-6 col-xl-3">
                            <a href="/announcement">
                                <div class="card card-body bg-orange-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-megaphone icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="mb-0">Duyurular </h3>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a href="/class/schedule">
                                <div class="card card-body bg-success-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-calendar22 icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h4 class="mb-0">Ders Programı</h4>
                                            <span class="font-size-lg"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a href="#">
                                <div class="card card-body bg-brown-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-pencil7 icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="mb-0">Sınav Notları </h3>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <a href="#">
                                <div class="card card-body bg-success-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-calendar52 icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="mb-0">Sınav Tarihleri </h3>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6 col-xl-3">
                            <a href="#">
                                <div class="card card-body bg-indigo-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-pen6 icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="mb-0">Ödevler </h3>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a href="#">
                                <div class="card card-body bg-warning-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-calendar5 icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h4 class="mb-0">Randevu</h4>
                                            <span class="font-size-lg"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a href="/user/profile">
                                <div class="card card-body bg-slate-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-cog icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h4 class="mb-0">Hesap Bilgileri </h4>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <a href="/user/changepassword">
                                <div class="card card-body bg-danger-400 has-bg-image">
                                    <div class="media">
                                        <div class="mr-3 align-self-center">
                                            <i class="icon-reset icon-3x opacity-75"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h4 class="mb-0">Şifreyi Değiştir</h4>
                                            <span class="text-uppercase font-size-xs"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /basic card -->

        </div>
    </div>
    <!-- /right content -->

</div>


<!-- /content area -->