
@{
    ViewBag.Title = "Uzmanlık Alanları - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Uzmanlık Alanları</h5>
            </div>

            <div class="card-body">
                <p><button id="add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="icon-plus2"></i>Yeni Uzman Alanı Ekle</button></p>
            </div>

            <!-- Vertical form modal -->
            <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true" style="z-index: 1050; display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Yeni Uzman Alanı Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form id="form">
                            <div class="modal-body">

                                <input type="text" id="ID" hidden="" class="form-control">
                                
                              
                                <div class="form-group">
                                    <label>Uzmanlık Alanı Adı</label>
                                    <input type="text" id="Profession" class="form-control maxlength" placeholder="Uzmanlık Alanı Adı">
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                <button type="submit" class="btn btn-primary">Kaydet <i class="icon-database-check ml-2"></i></button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /vertical form modal -->

            <table id="examples" class="table" style="width: 100%"></table>



        </div>



    </div>

</div>

@section scripts{


    <script>

        $(document).ready(function () {
            
            $('#examples').DataTable({
                "ajax": {
                    "url": "/json/teachers/profession",
                    "type": "GET",
                    "datatype": "json"
                },
                "paging": false,
                "columns": [
                    { "width": "2%", "title": "#ID", "data": "ID" },
                    { "title": "Yetkinlik Adı", "data": "Profession", "autoWidth": true },
                    {
                        "title": "Seçenekler",
                        "data": "ID",
                        "width": "5%",
                        "searchable": true,
                        "sortable": true,
                        "processing": true,
                        "serverSide": true,
                        "render": function (data, type, full, meta) {
                            return '<div class="list-icons">' +
                                '										<div class="dropdown">' +
                                '											<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">' +
                                '												<i class="icon-menu9"></i>' +
                                '											</a>' +
                                '' +
                                '											<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-158px, 19px, 0px); top: 0px; left: 0px; will-change: transform;">' +
                                '												<a href="#" data-id=' +
                                data +
                                ' class="update-link dropdown-item"><i class="icon-pen6"></i> Düzenle</a>' +
                                '												<a href="#" data-id=' +
                                data +
                                ' class="delete-link dropdown-item"><i class="icon-trash"></i> Sil</a>' +
                                '											</div>' +
                                '										</div>' +
                                '									</div>';
                        }
                    }
                ],
                autoWidth: false,
                dom:
                    '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
                "order":
                    [[0, "desc"]],
                "language":
                {
                    "url":
                        "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });




        $("#add").click(function (e) {
            $("#form")[0].reset();
            $(".modal-title").html("Yeni Ekle");
        });

        $("form").submit(function (e) {
            e.preventDefault();

           
            var isValidate = false;

            function formKontrol() {

                if ($('#Profession').val().length <= 0) {
                    $("#Profession").attr("placeholder", "Zorunlu Alan (*)").focus();
                    isValidate = false;
                }else
                    isValidate = true;
            };


            formKontrol();
            if (isValidate === true) {
                var data = new Object();
                if ($('#ID').val().length >= 1) {
                    data.ID = $('#ID').val();
                }
                data.Profession = $('#Profession').val();
                $.ajax({
                    type: "POST",
                    url: "/teachers/profession/add",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response === "Success") {
                            iziToast.success({
                                title: 'Başarılı',
                                message: 'Kayıt işleminiz gerçekleşmiştir.'
                            });
                            $("#examples").DataTable().ajax.reload();
                            $("#myModal").modal('hide');
                        } else if (response === "Update") {
                            iziToast.success({
                                title: 'Başarılı',
                                message: 'Değişiklikler kaydedilmiştir.'
                            });
                            $("#examples").DataTable().ajax.reload();
                            $("#myModal").modal('hide');
                        } else if (response === "Saved") {
                            iziToast.info({
                                title: 'Bilgi',
                                message: 'Bu yetkinlik daha önce sisteme kaydedilmiştir.'
                            });
                        } else {
                            iziToast.warning({
                                title: 'Hata',
                                message: 'Lütfen tekrar deneyiniz.'
                            });
                            alert(response);
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }


        });


        $('#examples tbody').on('click',
            'a.delete-link',
            function () {
                var id = $(this).attr("data-id");
                iziToast.question({
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: 'Dikkat',
                    message: 'Silmek istediğinize emin misiniz?',
                    position: 'center',
                    buttons: [
                        ['<button><b>Evet</b></button>', function (instance, toast) {
                            $.ajax({
                                type: "POST",
                                url: '/teachers/profession/delete/' + id,
                                success: function (response) {
                                    if (response === "Success") {
                                        iziToast.success({
                                            title: 'Başarılı',
                                            message: 'Silme işleminiz gerçekleşmiştir.'
                                        });
                                        $("#examples").DataTable().ajax.reload();
                                    } else {
                                        iziToast.warning({
                                            title: 'Hata',
                                            message: 'Lütfen tekrar deneyiniz.'
                                        });
                                    }
                                }
                            });
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }, true],
                        ['<button>Hayır</button>', function (instance, toast) {

                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }]
                    ]
                });

                });


            $('#examples tbody').on('click',
                'a.update-link',
                function () {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: '/teachers/profession/details/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $(".modal-title").html("Güncelle");
                            $("#ID").val(data.data.ID);
                            $("#Profession").val(data.data.Profession);

                            $("#myModal").modal('show');


                        },
                        error: function (err) {
                            alert("Error: " + err.responseText);
                        }
                    });


                });



        });
    </script>

}
