<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Abaküs Bilgi Sistemi </title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/iziToast.min.css" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->


</head>


<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                @RenderBody()

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!-- Core JS files -->
    

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/assets/js/demo_pages/login.js"></script>
    <script src="~/Content/assets/js/iziToast.min.js"></script>
    <!-- /theme JS files -->
    <!-- /theme JS files -->
    @RenderSection("scripts", required: false)
</body>
</html>
